{# Basic dark-themed "Hello World" page using Tailwind CSS #}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Color Inverter</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            /* Dark mode */
            background-color: #1a202c;
            color: #f7fafc;
        }

        .ui-box {
            /* Lighter dark gray box */
            border: 1px solid #2d3748;
            border-radius: 0.5rem;
            padding: 2rem;
            max-width: 50%;
            margin: auto;
        }
    </style>
</head>

<body class="px-auto min-h-screen pt-20">
    <div class="ui-box h-auto w-full mx-auto">
        <h1 class="text-4xl font-bold">PDF Color Inverter</h1>
        <form class="py-4 h-auto w-full" action="http://localhost:8000/invert" method="post"
            enctype="multipart/form-data">
            {{ form.file.label(class="text-lg") }}
            {{ form.file(class="mt-4 p-2 w-full h-auto border border-gray-600 rounded") }}
            {{ form.submit(class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded") }}
        </form>
    </div>

</html>